Episode02/coding/.parcel-cache
Episode02/coding/node_modules
Episode02/coding/dist
Episode03/coding/.parcel-cache
Episode03/coding/node_modules
Episode03/coding/dist
Episode04/coding/.parcel-cache
Episode04/coding/node_modules
Episode04/coding/dist
Episode05/coding/.parcel-cache
Episode05/coding/node_modules
Episode05/coding/dist